// This File is imported last, and will override other styles in the cascade
// Add styles here to make changes without digging in too much

body{
	background-image:url('../images/bg.jpg');
	font-size: 1.08em;
	h1{
		font-size: 2em;
	}
	h2{
		font-size: 1.5em;
	}
	h3{
		font-size: 1.2em;
	}
	> header {
		padding-top: 45px;
		padding-bottom: 15px;
		background: transparent;
		font-family: 'Lato', sans-serif;
		h1{
			font-size: 48px;
			font-family: 'Lato', sans-serif;
			font-weight: 300;
		}
		h2{
			font-size: 14px;
			font-family: 'Lato', sans-serif;
			color: white;
		}
	}
}